body{
  margin:0;
  overflow:hidden;
  background:black;
  font-family:Arial;
}

#ui{
  position:absolute;
  width:100%;
  text-align:center;
  color:white;
  z-index:5;
}

h1{
  color:#ffe066;
}

canvas{
  display:block;
  background:#001d3d;
}
